/**
 * CONTENTS
 *
 * SETTINGS
 * Font import..........Google font import. 
 * Variables............Globally-available variables (colors).
 * Box-sizing...........Better default `box-sizing`.
 * Base font............Basic font styles.
 * Headings.............H1-H3 styles.
 * Links................Hyperlink styles.
 * Strong...............Style of <strong> element.
 */


/*------------------------------------*\
  #FONT IMPORT
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');


/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

:root {
  --bg-primary: #ffffff;
  --font-color-primary: #116530;
  --font-color-primary-strong: #0B4619;
  --bg-alternate: #E8E8CC;
  --bg-btn: #FFCC1D;
  --font-color-btn: #0B4619;
}


/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

* {
    box-sizing: border-box;
}


/*------------------------------------*\
  #BASE FONT
\*------------------------------------*/

body {
	background-color: var(--bg-primary);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color-primary);
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
}

/*------------------------------------*\
  #VERTICAL RYTHM
\*------------------------------------*/

p, h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

/*------------------------------------*\
  #HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--font-color-primary-strong);
}

  h1 {font-size: clamp(24px, 4vw, 40px);}

  h2 {font-size: clamp(20px, 3.5vw, 32px);}

  h3 {font-size: clamp(18px, 3vw, 26px);}

  h4 {font-size: clamp(16px, 2.8vw, 24px);}

  h5 {font-size: clamp(16px, 2.6vw, 22px);}

  h6 {font-size: clamp(16px, 2.4vw, 20px);}


/*------------------------------------*\
  #LINKS
\*------------------------------------*/

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color-primary-strong);
}

  a:active {color: var(--bg-btn);}

  a:hover {color: var(--font-color-primary);}

  a:visited {color: var(--font-color-primary);}


/*------------------------------------*\
  #LISTS
\*------------------------------------*/

ul {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style: none;
}

ol {
  margin:0 0 1rem 0;
  padding-left: 1.5rem;
}

  ol li {
    margin-bottom: .5rem;
  }

/*------------------------------------*\
  #STRONG
\*------------------------------------*/

strong {
  text-decoration: underline var(--bg-btn) dashed 3px;
}