/**
 * CONTENTS
 *
 * COMPONENTS
 * Navigation........Navigation bar style.
 * Buttons...........Button styling.
 * Wrapper...........Content wrapper.
 * Figure............Figure and figcaption element style.
 * Picture...........Picture element size.
 * Timeline..........Vertical timeline formating.
 * Form..............Login form formating.
 * Pricing table.....Table for prices.
 * Footer............Background.
 *
 */


/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.toggle {
    order: 1;
}

.item {
    order: 2;
    display: none;
}
    .active .item {
        display: block;
    }

    .nav__link {
        display: block;
        text-align: center;
        padding: .5rem;
        border-top: 1px solid rgba(255, 255, 255,0.3); 
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
        background-color: #fff;
    }


/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn {
    display: inline-flex;
    border: 2px solid transparent;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    .btn--primary {
        background-color: var(--bg-btn);
        border-color: #dadee4;
        color: var(--font-color-btn);
        padding: calc(0.25*var(--space));
    }


    .btn--contact {
        display: block;
        width: 100%;
        padding: .5rem 0;
    }


/*------------------------------------*\
  #WRAPPER
\*------------------------------------*/

.content-wrapper {
    margin: 1rem 0;
}

    .--onepager {
        height:100vh;
    }


    /*H3 heading title for section*/
    .content__title {
        display: block;
        width: 100%;
        border-bottom: 2px solid var(--font-color-primary-strong);
        margin-top: 1rem; 
    }

/*------------------------------------*\
  #FIGURE
\*------------------------------------*/

figure {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 1rem;
    justify-content: center;
    align-content: center;
}

    figcaption {
        font-size: clamp(16px, 2.8vw, 24px);
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        color: var(--font-color-primary-strong);
        text-align: center;
        margin: .5rem 0;
    }


/*------------------------------------*\
  #PICTURE
\*------------------------------------*/

.content__pic {
    object-fit:  cover;
    width: 100%;
}

/*------------------------------------*\
  #TIMELINE
\*------------------------------------*/

:root {
    --space: 1rem;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  
    .timeline__item {
        display: flex;
        flex-direction: row;
        position: relative;

    }
  
    .timeline__item:before {
      position:absolute;
      z-index: -1;
      content: "";
      background: #dadee4;
      height: 100%;
      left: var(--space);
      top: calc(2 * var(--space));
      width: 2px;
    }

    .timeline__icon {
        padding-top: calc(var(--space) + 0.25rem);
    }


        .badge {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            min-width: calc(2*var(--space));
            min-height: calc(2*var(--space));
            border-radius: 50%;
            background-color: var(--bg-btn);
            color: var(--font-color-btn);
            font-size: var(--space);
        }


    .timeline__content {
        margin-left: var(--space);
        margin-bottom: calc(2*var(--space));
        background: #fff;
        box-shadow: 0 5px 15px rgb(0 0 0 / 8%);

    }

        .content__header {
            border-bottom: 1px solid #e5e5e5;
            padding: var(--space);
        }
    
        
        .content__body {
            padding: var(--space);
        }


/*------------------------------------*\
  #PRICING TABLE
\*------------------------------------*/

.pricing__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: .5rem;
}

    .pricing__box {
        display: block;
        background: #fff;
        box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
        padding: var(--space);
        margin: var(--space) 0;
    }

        .pricing__title {
            border-bottom: 1px solid #e5e5e5;
            padding: var(--space);
            margin:0;
        }

        .pricing__list {
            list-style-type: disc;
            padding: var(--space);
        }

        .pricing__price {
            text-align: center;
            font-size: clamp(18px, 3vw, 26px);
            font-weight: bold;
            text-transform: uppercase;
            color: var(--font-color-primary-strong);
        }


/*------------------------------------*\
  #FORM
\*------------------------------------*/

.form__input-field {
    display: block;
    width: 100%;
    padding: .5rem;
    border: 0;
    border-bottom: 2px solid;
    border-color: transparent;
    margin-bottom: 1rem;
    background-color: var(--bg-alternate);
    outline: none;
    font-size: 1rem;
}

    .form__input-field:focus {
        border-bottom-color: var(--bg-btn);
    }

    .form__input-field::placeholder {
        font-weight: bold;
        opacity: .25;
    }


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
    background-color: var(--bg-alternate);
}

.footer__text {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: clamp(12px, 2vw, 16px);
    color: var(--font-color-primary-strong);
    padding: .5rem;
    margin: 0;
}