/**
 * CONTENTS
 *
 * MAIN LAYOUT - GRID SETTINGS
 * Grid container............Grid container settings.
 * Navigation................Navigation grid-item.
 * Header....................Header grid-item.
 * Content...................Content grid-item.
 * Footer....................Footer grid-item.
 *
 * SUB-LAYOUT - FLEXBOX SETTINGS
 * Flex container............Flex container settings.
 */


/*------------------------------------*\
  #GRID CONTAINER
\*------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
  grid-template-areas: 
  "navigation navigation navigation"
  ". header ."
  ". content ."
  "footer footer footer";
}


  /*------------------------------------*\
    #NAVIGATION
  \*------------------------------------*/

  .navigation {
    grid-area: navigation;
  }

    .sticky {
      position: fixed;
      top:0;
      left:0;
      right:0;
    }


  /*------------------------------------*\
    #HEADER
  \*------------------------------------*/

  .header {
    grid-area: header;
    height: calc(100vh - 2.5rem);
    padding: 1rem 0;
  }


  /*------------------------------------*\
    #CONTENT
  \*------------------------------------*/

  .content {
    grid-area: content;
  }


  /*------------------------------------*\
    #FOOTER
  \*------------------------------------*/

  .footer {
    grid-area: footer;
  }


/*------------------------------------*\
  #FLEX CONTAINER
\*------------------------------------*/

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

  .flex--center {
    justify-content: center;
    align-content: center;
  }

  .flex--selfcenter { align-self:center;}