/**
 * CONTENTS
 *
 * LAYOUT - GRID SETTINGS
 * Grid container............Grid container settings.
 * Content...................Content grid-item settings.
 * Footer....................Footer grid-item settings.
 */


/*------------------------------------*\
  #GRID CONTAINER
\*------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 95% 1fr;
  grid-template-rows: auto;
  grid-gap: 0;
  grid-template-areas: 
  "navigation navigation navigation"
  ". header ."
  ". content ."
  "footer footer footer";
}


/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.navigation {
  grid-area: navigation;
}


/*------------------------------------*\
  #NAVIGATION
\*------------------------------------*/

.header {
  grid-area: header;
}


/*------------------------------------*\
  #CONTENT
\*------------------------------------*/

.content {
  grid-area: content;
}


/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer {
  grid-area: footer;
}